[defaults]

inventory = ../../REN_shared/ansible/inventories/hosts.yml
roles_path = ./roles:roles
# become = true
# ask_become_pass = true

# avoid warning when running from internet (no warning if run locally or without the )
[ssh_connection]
transfer_method = scp
scp_if_ssh = True       # Ansible < 2.17
#scp_extra_args = -O     # OpenSSH >= 9.0