**/.idea/*

.~lock.*

# java/maven/gradle
.gradle/
build/
target/
bin/

# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace


# python intermediate files
__pycache__/
.cache/
.eggs/
*.egg-info/
.virtualenv/
*.pyc
.coverage
references/physical_dimensions/MachinesSVGMap/package-lock.json


*/.venv/
VIRTUAL_Setups/VIRTUAL_1C1H1M1S1V_01/config/PLC1/logfile.log
