**/.idea/*

.~lock.*
target/
bin/

# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace


# python intermediate files
__pycache__/
.cache/
.eggs/
*.egg-info/
.virtualenv/
*.pyc
