**/.idea/*

.~lock.*
target/
bin/

# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace


# python intermediate files
__pycache__/
.cache/
.eggs/
*.egg-info/
.virtualenv/
*.pyc
.coverage

# gradle build

/REN_Setups/physical-impl/factoryscada/backend/.gradle
/REN_Setups/physical-impl/factoryscada/backend/build/
/REN_Setups/physical-impl/factoryscada/backend/src/main/java/io/github/mbdo/factoryscada/__init__/
